header {
    background-color: aquamarine;
    width:1200px; height:92px;
    margin:0 auto;
}
header h1 {
    width:60px; height:70px;
    float:left;
    margin:11px 0 0 20px;
}
header h1 a {}
header h1 a img {
    width:100%;
}
header nav {
    background-color: blueviolet;
    float:left;
    margin:39px 0 0 234px;
}
header nav ul {}
header nav ul li {
    float:left;
}
header nav ul .active a {
    color:#36B4E5;
}
header nav ul li a {
    padding-right:40px;
    font-size:1.2rem;
}
header nav ul li:last-child a {
    padding-right:0;
}
header .lnb {
    background-color: green;
    float:right;
    margin:39px 20px 0 0;
}
header .lnb li {
    margin-right:20px;
    float:left;
}
header .lnb li:last-child {
    margin-right: 0;
}
header .lnb li a {
    font-size: 1.2rem;
}
header .lnb li span {
    display: block;
    width: 1px; height:13px;
    background-color: #aaa;
    margin-top: 3px;
}
main {
    background-color: gold;
    margin:0 auto;
}
main .breadcrumbs_bg {
    background-color: #f1f1f1;
    border-top:1px solid #aaa;
    border-bottom:1px solid #aaa;
    height: 58px;
    padding:23px 20px 0 0;
}
main .breadcrumbs_bg .breadcrumbs {}
main .breadcrumbs_bg .breadcrumbs a {}
main .breadcrumbs_bg .breadcrumbs em {
    font-weight:700;
}
main .contents1 {
    width:1200px;
}
main .contents1 h1 {}
main .contents1 h1 p {}
main .c2_bg {
    background-color: #f1f1f1;
}
main .c2_bg .contents2 {}
main .c2_bg .contents2 p {}
main .contents3 {}
main .contents3 h2 {}
main .contents3 h2 p {}
main .c4_bg {
    background-color: #f1f1f1;
}
main .c4_bg .contents4 {}
main .c4_bg .contents4 h2 {}
main .c4_bg .contents4 .goal {}
main .c4_bg .contents4 .goal li {}
main .c4_bg .contents4 .strategy {}
main .c4_bg .contents4 .strategy li {}
main .c4_bg .contents4 .strategy li h3 {}
main .c4_bg .contents4 .strategy li p {}
footer {
    background-color: darkred;
}
footer .f_top {}
footer .f_top .fnb {}
footer .f_top .fnb li {}
footer .f_top .fnb li a {}
footer .f_top .site {}
footer .f_top .site li {}
footer .f_top .site li a {}
footer .f_btm {}
footer .f_btm address {}
footer .f_btm p {}