/* all layout */
section > div {
    max-width:1200px; min-width:320px;
    margin:0 auto;
    padding: 100px 0;
    text-align: center;
}
/* 예매하기 버튼 */
section > div .ticketing_btn {
    background-color: aqua;
    display: flex;
    padding: 20px 60px;
    justify-content: center;
    align-items: center;
    border-radius: 40px; box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    gap: 10px;
}
section > div .ticketing_btn span {
    font-size: 1.75rem;
    font-weight: 700;
    color:#432C7A;
}
section > div .ticketing_btn img {
    width: 30px;
    height: 30px;
}
/* 1. title */
.title_bg {
    background:url(../images/title_bg.png) no-repeat center;
    background-size:cover;
}
.title_bg .title {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap:50px;
}
.title_bg .title h1 {}
.title_bg .title h1 img {}
.title_bg .title p {color: #FFF; font-size: 1.3rem;}
.title_bg .title .ticketing_btn {}
.title_bg .title .ticketing_btn span {}
.title_bg .title .ticketing_btn img {}
/* 타이틀 폰트 */
section > div > div h2,
section > div h2 {
    font-family: 'Cafe24Ssurround';
    font-size: 3.15rem;
    font-weight: 700;
    letter-spacing: -0.02em;
}
section > div h2 span {
    font-family: 'Cafe24Ssurround';
    font-size: 2.35rem;
    font-weight: 700;
    letter-spacing: -0.02em;
}
/* 2. 티켓구매 */
.ticket_bg {
    background-color: #432C7A;
}
.ticket_bg .ticket {
    display: flex;
    flex-flow:column nowrap;
    align-items: center;
    gap:50px;
}
.ticket_bg .ticket .top {}
.ticket_bg .ticket .top h2 {color:#FF8FB1;}
.ticket_bg .ticket .top .product_wrap {
    display: flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    gap: 20px;
    margin-top: 100px;
}
.ticket_bg .ticket .top .product_wrap li {}
.ticket_bg .ticket .top .product_wrap li .sub_title {
    background: no-repeat center;
    width:386px; height: 234px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.ticket_bg .ticket .top .product_wrap li:first-child .sub_title {background-image:url(../images/ticket_1.jpg);}
.ticket_bg .ticket .top .product_wrap li:last-child .sub_title {background-image:url(../images/ticket_2.jpg);}
.ticket_bg .ticket .top .product_wrap li .sub_title h3 {
    padding-top: 141px;
    font-size: 1.75rem;
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #fff;
}
.ticket_bg .ticket .top .product_wrap li .contents_txt {
    background-color: #fff;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-top: 30px;
    width:386px; height: 277px;
}
.ticket_bg .ticket .top .product_wrap li .contents_txt .buy_btn {}
.ticket_bg .ticket .top .product_wrap li .contents_txt .buy_btn span {}
.ticket_bg .ticket .top .product_wrap li .contents_txt .buy_btn img {}
.ticket_bg .ticket .btm {}
.ticket_bg .ticket .btm .title {}
.ticket_bg .ticket .btm .title h3 {}
.ticket_bg .ticket .btm .title .contents_txt {}
.ticket_bg .ticket .btm .contents {}
.ticket_bg .ticket .btm .contents .item {}
.ticket_bg .ticket .btm .contents .item img {}
.ticket_bg .ticket .btm .contents .item span {}
.ticket_bg .ticket .btm .contents .arrow {}
.ticket_bg .ticket .btm .contents .arrow img {}
/* 3. 이벤트 */
.event_bg {}
.event_bg .event {}
.event_bg .event h2 {}
.event_bg .event .share_btn {}
.event_bg .event .share_btn img {}
.event_bg .event .share_btn span {}
.event_bg .event .contents {}
.event_bg .event .contents li {}
.event_bg .event .contents li .photo {}
.event_bg .event .contents li .photo img {}
.event_bg .event .contents li .desc {}
.event_bg .event .contents li .desc h3 {}
.event_bg .event .contents li .desc .date {}
.event_bg .event .contents li .desc .contents_txt {}
/* 4. 에어리어 */
.area_bg {}
.area_bg .area {}
.area_bg .area h2 {}
.area_bg .area h2 span {}
.area_bg .area .item {}
.area_bg .area .item .top {}
.area_bg .area .item .top img {}
.area_bg .area .item .btm {}
.area_bg .area .item .btm h3 {}
.area_bg .area .item .btm .contents_txt {}
.area_bg .area .ticketing_btn {}
.area_bg .area .ticketing_btn span {}
.area_bg .area .ticketing_btn img {}
/* 5. 어트랙션 */
.attraction_bg {}
.attraction_bg .attraction {}
.attraction_bg .attraction h2 {}
.attraction_bg .attraction h2 span {}
.attraction_bg .attraction .contents {}
.attraction_bg .attraction .contents li {}
.attraction_bg .attraction .contents li h3 {}
.attraction_bg .attraction .contents li p {}
.attraction_bg .attraction .schedule_btn {}
.attraction_bg .attraction .schedule_btn img {}
.attraction_bg .attraction .schedule_btn span {}
/* 6. 퀴즈 */
.quiz_bg {}
.quiz_bg .quiz {}
.quiz_bg .quiz h2 {}
.quiz_bg .quiz h3 {}
.quiz_bg .quiz #quiz_frm {}
.quiz_bg .quiz #quiz_frm fieldset {}
.quiz_bg .quiz #quiz_frm fieldset label {}
.quiz_bg .quiz #quiz_frm fieldset label input {}
.quiz_bg .quiz #quiz_frm fieldset #answer_btn {}
.quiz_bg .quiz #quiz_frm fieldset #answer_btn span {}
.quiz_bg .quiz #quiz_frm fieldset #answer_btn img {}
/* 7. 레스토랑/굿즈 */
.shop_bg {}
.shop_bg .shop {}
.shop_bg .shop h2 {}
.shop_bg .shop h2 span {}
.shop_bg .shop .contents {}
.shop_bg .shop .contents li {}
.shop_bg .shop .contents li h3 {}
.shop_bg .shop .contents li p {}
.shop_bg .shop .contents li p img {}
.shop_bg .shop .ticketing_btn {}
.shop_bg .shop .ticketing_btn span {}
.shop_bg .shop .ticketing_btn img {}
/* 8. 오시는길 */
.route_bg {}
.route_bg .route {}
.route_bg .route h2 {}
.route_bg .route p {}
.route_bg .route p img {}
.route_bg .route .train {}
.route_bg .route .train li {}
.route_bg .route .train li img {}
.route_bg .route .train li h3 {}
.route_bg .route .train li p {}
.route_bg .route .train li a {}
.route_bg .route .bus {}
.route_bg .route .bus li {}
.route_bg .route .bus li img {}
.route_bg .route .bus li h3 {}
.route_bg .route .bus li a {}
.route_bg .route h3 {}
.route_bg .route h3 .hotel {}
.route_bg .route h3 .hotel .item {}
.route_bg .route h3 .hotel .item h3 {}
.route_bg .route h3 .hotel .item p {}
/* 9. 자주묻는질문 */
.faq_bg {}
.faq_bg .faq {}
.faq_bg .faq .top {}
.faq_bg .faq .top h2 {}
.faq_bg .faq .top .service_center {}
.faq_bg .faq .top .service_center img {}
.faq_bg .faq .top .service_center span {}
.faq_bg .faq .btm {}
.faq_bg .faq .btm li {}
.faq_bg .faq .btm li h3 {}
.faq_bg .faq .btm li h3 em {}
.faq_bg .faq .btm li h3 span {}
.faq_bg .faq .btm li p {}
.faq_bg .faq .btm li p em {}
.faq_bg .faq .btm li p span {}